# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Environments
venv/
.venv/
env/
ENV/
.python-version
pip-wheel-metadata/

# Secrets
.env
.env.*

# OS / editor
.DS_Store
.vscode/
.idea/
!.env.example
